<!DOCTYPE html>
<html lang="en" data-framework="react">
<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
  <% for (let style of htmlWebpackPlugin.files.css) { %>
    <link href="<%= style %>" rel="stylesheet">
  <% } %>
  <% if ('inline' in htmlWebpackPlugin.options && htmlWebpackPlugin.options.inline) %><script src="/webpack-dev-server.js"></script><% ; %>
  <title>Match Three</title>
</head>
<body>
  <% for (let script of htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%= script %>"></script>
  <% } %>
</body>
</html>
